.carda_title{
    align-items: center;
    justify-content: center;
    margin-top: 170px;
    padding-left: 80px;
    padding-right: 80px;
}

.carda_title h2{
    font-size: 32px;
    font-family: 'Bungee', sans-serif;
    font-weight: 300;
    color: white;
}

.carda_title span{
    color: red;
}

.food-card{
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;
    background-color: rgb(207, 5, 5);
    padding:  20px;
    border-radius: 15px;
    width: 350px;
    height: auto;
    min-height: 480px;
    border-inline: 0px white solid;
    transition: border-inline 0.2s ease-in;
}

.food-cardC{
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;
    background-color: rgb(207, 5, 5);
    padding:  20px;
    border-radius: 15px;
    width: 350px;
    height: 430px;
    border-inline: 0px white solid;
    transition: border-inline 0.2s ease-in;
}

.food-card:hover, .food-cardC:hover{
    border-inline: 3px white solid;
    cursor: pointer;
}

.food-card img, .food-cardC img{
    width: 330px;
    height: 200px;
}

.food-card h2, .food-cardC h2{
    font-size: 20px;
    font-family: 'Bungee', sans-serif;
    font-weight: 200;
    color: white;
    text-align: center;
    line-height: 1.5;
    margin-top: 10px;
}

.food-card h3, .food-cardC h3{
    line-height: 1.5;
    font-weight: 100;
}

.food-card h4, .food-cardC h4{
    font-size: 18px;
    color: black;
    text-shadow:
    1px 1px 2px white,
    -1px 1px 2px white,
    -1px -1px 2px white,
    1px -1px 2px white;
}

.food-card h5{
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: black;
    line-height: 1.4;
    margin-top: 10px;
}

.content_bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    font-family: 'Bungee', sans-serif;
    text-align: center;
}

.content_bottom img{
    width: 100%;
    height: 300px;
}

.text-H{
    font-size: 28px;
    font-family: 'Bungee', sans-serif;
    font-weight: 300;
    color: white;
    text-shadow: 0px solid black;
    transition: text-shadow 0.3s ease;
    text-align: center;
}

.spjapa2{
    color: red;
    text-shadow:
    1px 1px 40px black,
    -1px 1px 10px rgb(42, 38, 38),
    -1px -1px 0 rgb(42, 38, 38),
    1px -1px 0 rgb(42, 38, 38);
}

.spcasa2{
    text-shadow:
    2px 2px 40px rgb(42, 38, 38),
    -2px 2px 10px rgb(42, 38, 38),
    -2px -2px 0 rgb(42, 38, 38),
    2px -2px 0 rgb(42, 38, 38);
}