@import '../styles/vars.scss';

.content_local {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    color: rgb(194, 190, 190);
    font-family: $fonte-principal;
    text-align: center;

    .home_local {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        min-height: 25vh;
        width: 90%;
        padding: 0 10px;
        background-color: rgb(239, 239, 239);
        color: red;
        border-radius: 20px;
        box-shadow: 5px 5px 20px rgb(114, 5, 5);

        .dados-local {
            flex-grow: 1;
            width: 50%;
        }

        h2 {
            font-size: 1.5rem;
            line-height: 20px;
            max-height: 40px;
            margin: auto;
        }

        p {
            font-family: $fonte-secundaria;
            color: black;
            margin: auto;
        }
    }
}
