footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #0f0f0f;
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    border-top: 1px solid #ff0000;
    margin-top: 100px;
    padding: 0;

    .container-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 10px 60px;

        .logos {
            display: flex;
            align-items: center;
            gap: 15px;

            span {
                color: red;
            }

            .jpc {
                display: flex;
                align-items: center;
                gap: 10px;

                .jpc-logo {
                    font-family: "Bungee", sans-serif;
                }

                &::after {
                    content: "";
                    border: 1px solid red;
                    height: 25px;
                    margin-left: 5px;
                }
            }

            .rickreisme {
                color: #06cd27;
                font-size: 1.5rem;
            }
        }
    }
}
