footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #0f0f0f;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    border-top: 1px solid #ff0000;
    margin-top: 100px;
    padding: 0;

    .container-footer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        padding: 10px 20px;

        .rickreisme {
            color: #06cd27;
            font-size: 1.5rem;
        }

        span {
            color: red;
        }
    }
}
