.container-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-top: 200px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    font-family: 'Bungee', sans-serif;
}

.home_esquerda{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

.home_esquerda p{
    font-size: 1.4rem;
}

#spjapa2, #spcasa{
    font-family: "Bungee", sans-serif;
}

#spjapa2{
    margin-left: 5px;
    color: red;
}

#spcasa{
    color: white;
}

.home_direita img{
    width: 500px;
    height: 300px;
    border: 1px #7d0202 solid;
    box-shadow: 0px 0px 25px rgb(114, 5, 5);
}

.content_carda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-top: 200px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    font-family: 'Bungee', sans-serif;
    text-align: center;
}

.content_carda img{
    width: 500px;
    height: 300px;
    border: 1px #7d0202 solid;
    box-shadow: 0px 0px 25px rgb(114, 5, 5);
}

.content_carda h2{
    font-size: 28px;
    font-family: 'Bungee', sans-serif;
    line-height: 40px;
    font-weight: 300;
}

.home_direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn1{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.btn1:hover{
    color: black;
    background-color: white;
}

.content_breve{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 75vw;
    margin-top: 200px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: red;
    opacity: 0.8;

    color: white;
    font-family: 'Bungee', sans-serif;
    text-align: center;
    
    transition: opacity 0.3s ease-in, border-radius 0.3s ease-in;
}

.content_breve:hover{
    opacity: 1;
    border-radius: 20px;
}

.content_breve h1{
    font-size: 50px;
    line-height: 1.2;
}

.home_breve{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 40vh;
    color: red;
    padding-right: 70px;
    padding-left: 70px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgb(114, 5, 5);
}

.home_breve h4{
    display: none;
}

.home_breve h2{
    line-height: 25px;
}

.home_breve h3{
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.content_local{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 87vw;
    margin-top: 200px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;
    padding-bottom: 80px;

    background-image: url("/assets/img/buffet-g10561976a_640.jpg");
    background-size: cover;

    color: white;
    font-family: 'Bungee', sans-serif;
    text-align: center;
}

.text-card{
    display: flex;
    justify-content: center;
    background-color: rgb(99, 6, 6);
    border-radius: 20px;
    margin-top: 90px;
    margin-bottom: 20px;
    transition: background-color 0.4s ease, transform 0.4s ease;
}
.text-card:hover{
    transform: scale(1.05);
}

.text-card .text-H{
    display: flex;
    margin-top: 10px;
}

.text-card2{
    display: inline;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(168, 9, 9);
    padding: 10px 15px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.text-card2 h1{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: white;
}

.home_local{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 40vh;
    color: red;
    padding-right: 70px;
    padding-left: 70px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgb(114, 5, 5);
}

.home_local p{
    font-family: 'Montserrat', sans-serif;
    color: black;
}

#endereco{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#funcionamento{
    display: flex;
    flex-direction: column;
    border-left: 1px red solid;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.content_homeC{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    font-family: 'Bungee', sans-serif;
}