.logo-japacasa {
    display: flex;
    #spjapa2,
    #spcasa {
        font-family: "Bungee", sans-serif;
        font-size: 1.8rem;
    }

    #spjapa2 {
        color: red;
    }

    #spcasa {
        color: white;
    }
}
