.menu {
    display: flex;
    z-index: 1000;
    flex-direction: row;
    align-items: center;
    background-color: #101010;
    width: 100%;
    border-bottom: 1px red solid;
    box-shadow: 10px 0px 40px rgb(114, 5, 5);
    font-family: "Bungee", sans-serif;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 90px;
        height: 3.5rem;
        padding-bottom: 0;

        span {
            color: red;
            transition:
                color 0.2s ease-in,
                transform 0.3s ease-in;
        }
        span:hover {
            color: white;
            transform: scale(1.1);
        }

        h1 {
            color: white;
            font-size: 36px;
            font-family: "Bungee", sans-serif;
            transition:
                color 0.3s ease-in,
                transform 0.3s ease-in;
        }
        h1:hover {
            transform: scale(1.1);
            color: red;
        }
    }

    .navbar-nav {
        font-size: 1.3rem;
    }

    .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-icons {
        display: flex;
        font-size: 1.1rem;
        margin-right: 8px;
        margin-bottom: 2px;
    }

    #home,
    #carda,
    #sobre,
    #conta {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    a {
        color: white;
        font-family: "Bungee", sans-serif;
        margin-left: 40px;
        transition: color 0.3s ease-in;
        justify-content: center;
        align-items: center;
        font-weight: 200;
    }
    a:hover {
        color: red;
    }

    #btn-mobile {
        display: none;
    }
}
