.text-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(99, 6, 6);
    color: white;
    font-size: 1.8rem;
    border-radius: 20px;
    margin: 90px 0  0;
    padding: 0 20px;
    transition: 0.4s ease-in-out;

    &:hover {
        transform: scale(1.15);
    }
}