.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 90px;
}

.logo span{
    color: red;
    transition: color 0.2s ease-in, transform 0.3s ease-in;
}

.logo h1{
    color: white;
    font-family: 'Bungee', sans-serif;
    font-size: 36px;
    transition: color 0.3s ease-in, transform 0.3s ease-in;
}

.logo span:hover{
    color: white;
    transform: scale(1.1);
}

.logo h1:hover{
    transform: scale(1.1);
    color: red;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    top: 0;
    margin-top: 20px;
    z-index: 1;
    padding: 20px 0;
    margin: 20px;
}

.menu a{
    color: white;
    font-family: 'Bungee', sans-serif;
    margin-left: 40px;
    transition: color 0.3s ease-in;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}

.menu a:hover{
    color: red;
}

#home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa-house, .fa-utensils, .fa-pen-to-square, .fa-phone{
    font-size: 15px;
    margin-right: 5px;
    margin-left: 10px;
}