*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: rgb(12, 12, 12);
    height: 100vh;
}

navbar{
    display: flex;
    z-index: 1000;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    position: fixed;
    border-bottom: 1px red solid;
    box-shadow: 10px 0px 40px rgb(114, 5, 5);
}

.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 90px;
}

.logo span{
    color: red;
    transition: color 0.2s ease-in, transform 0.3s ease-in;
}

.logo h1{
    color: white;
    font-family: 'Bungee', sans-serif;
    font-size: 36px;
    transition: color 0.3s ease-in, transform 0.3s ease-in;
}

.logo span:hover{
    color: white;
    transform: scale(1.1);
}

.logo h1:hover{
    transform: scale(1.1);
    color: red;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    top: 0;
    margin-top: 20px;
    z-index: 1;
    padding: 20px 0;
    margin: 20px;
}

.menu a{
    color: white;
    font-family: 'Bungee', sans-serif;
    margin-left: 40px;
    transition: color 0.3s ease-in;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}

.menu a:hover{
    color: red;
}

#home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa-house, .fa-utensils, .fa-pen-to-square, .fa-phone{
    font-size: 15px;
    margin-right: 5px;
    margin-left: 10px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
}

.content_home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-top: 200px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    font-family: 'Bungee', sans-serif;
}

.home_esquerda{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.home_esquerda h2{
    font-size: 28px;
    font-family: 'Bungee', sans-serif;
    font-weight: 300;
}

.content_home #spjapa2{
    color: red;
}

.content_home #spcasa{
    color: white;
}

.home_direita img{
    width: 500px;
    height: 300px;
    border-bottom: 0px red solid;
    box-shadow: 0px 0px 0px red;
    transition: border-bottom 0.3 ease-in, box-shadow 0.3 ease-in;
}

.home_direita:hover img{
    border-bottom: 1px red solid;
    box-shadow: 10px 0px 40px rgb(114, 5, 5);
}

.content_carda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-top: 200px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
    font-family: 'Bungee', sans-serif;
    text-align: center;
}

.content_carda img{
    width: 500px;
    height: 300px;
}

.content_carda h2{
    font-size: 28px;
    font-family: 'Bungee', sans-serif;
    line-height: 40px;
    font-weight: 300;
}

.home_direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn1{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

.btn1:hover{
    color: black;
    background-color: white;
}

.content_breve{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    margin-top: 200px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: red;
    opacity: 0.8;

    color: white;
    font-family: 'Bungee', sans-serif;
    text-align: center;
    
    transition: opacity 0.3s ease-in, border-radius 0.3s ease-in;
}

.content_breve:hover{
    opacity: 1;
    border-radius: 20px;
}

.content_breve h1{
    font-size: 50px;
}

.home_breve{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 40vh;
    color: red;
    padding-right: 70px;
    padding-left: 70px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgb(114, 5, 5);
}

.home_breve h2{
    line-height: 25px;
}

.home_breve h3{
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.content_local{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 87vw;
    margin-top: 200px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 60px;
    padding-bottom: 80px;

    background-image: url("/assets/img/buffet-g10561976a_640.jpg");
    background-size: cover;

    color: white;
    font-family: 'Bungee', sans-serif;
    text-align: center;
}

.content_local h1{
    font-size: 24px;
    line-height: 30px;
    font-weight: 200;
    color: white;
    padding-bottom: 10px;
    text-shadow:
    2px 2px 0 red,
    -2px 2px 0 red,
    -2px -2px 0 red,
    2px -2px 0 red;

}

.home_local{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 40vh;
    color: red;
    padding-right: 70px;
    padding-left: 70px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgb(114, 5, 5);
}

.home_local p{
    font-family: 'Montserrat', sans-serif;
    color: black;
}

#endereco{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#funcionamento{
    display: flex;
    flex-direction: column;
    border-left: 1px red solid;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;

    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 80px;
    margin-right: 80px;

    border-top: 1px solid red;
}

footer span{
    color: #06cd27;
    font-size: 15px;
}

footer jp{
    color: red;
}