@media (max-width: 600px){
    .logo h1{
        font-size: 54px;
    }

    .container-sobre {
        .content_center {

            img {
                width: 200px !important;
                height: 150px !important;
                max-height: auto;
            }
        }
    }
}