@media (max-width: 1000px) {
    .menu {
        .menuItems {
            a {
                margin-left: 0px;
            }
        }
    }

    .text-card {
        font-size: 1.35rem;

        &:hover {
            transform: none;
        }
    }

    .container-home {
        .content_home,
        .content_carda,
        .content_breve {
            flex-direction: column;
            text-align: center;
        }

        .content_home {
            background-attachment: scroll;

            h1 {
                font-size: 2.5em;
            }
        }

        .content_carda {
            padding: 0;

            .home_esquerda {
                display: flex;
                flex-direction: column;
                width: auto;
                margin-bottom: 10px;
            }
        }
    }

    .container-cardapio {
        .carda_title {
            background-attachment: scroll;

            h1 {
                font-size: 3em;
            }

            img {
                max-width: 770px;
                height: auto;
            }
        }

        .pesquisa-filtro {
            .pesquisa {
                flex-direction: column;

                .pesquisa-box {
                    margin: 0;
                }
            }
        }
    }

    .content_local {
        .home_local {
            flex-direction: column;
            padding: 40px 10px;

            .dados-local {
                width: 100%;
            }
        }
    }

    .container-carrinho {
        .carrinho_title {
            margin-top: 100px;
        }

        .content_home {
            padding: 0;
            margin-top: 30px;

            .carrinho-card {
                flex-direction: column;
                height: auto;
                max-height: 500px;

                .infos {
                    justify-content: center;
                    margin-top: 10px;

                    .img {
                        margin-right: 10px;
                        img {
                            width: 150px;
                            height: auto;
                        }
                    }
                }

                .controle {
                    margin-bottom: 10px;
                }
            }
        }

        .form-carrinho {
            padding: 0 20px;

            .rua,
            .cep,
            .num,
            .comp,
            .cidade {
                width: 100%;
            }

            .input-row {
                flex-direction: column;
            }
        }

        .carrinho_total {
            justify-content: center;
            .total {
                width: 80%;
                align-items: center;
            }
        }

        .rotas-carrinho {
            margin: 20px 20px 0px;
            gap: 15px;

            .btn-rotas {
                text-align: center;
                padding: 5px;
            }
        }
    }

    .dados-pedido {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 0 80px;
        margin: 50px 0;

        .dados-pedido_content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .itens-pedido,
            .endereco-pedido,
            .contato-pedido {
                display: flex;
                flex-direction: column;
                padding: 15px 20px;
                min-width: 400px;
                min-height: 150px;

                h3 {
                    text-align: start;
                }
            }
        }
    }

    .container-sobre {
        .content_sobre {
            flex-direction: column;

            .sobre_titulo {
                background-attachment: scroll;

                h1 {
                    font-size: 3em;
                }
            }

            .sobre_colunas {
                flex-direction: column;
                justify-content: center;
                padding: 0;
                margin-top: 40px;

                .home_esquerda {
                    max-width: 95%;
                    h3 {
                        text-align: center;
                        margin-left: 0;
                    }

                    h4 {
                        text-align: center;
                    }
                }

                .home_direita {
                    img {
                        width: 400px;
                        height: auto;
                    }
                }
            }
        }

        .content_center {
            img {
                width: 300px;
                height: 200px;
                max-height: auto;
            }
        }
    }

    #menu {
        display: block;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 80%;
        right: 0;
        z-index: 1;
        background: black;
        transition:
            height 0.6s,
            visibility 0.4s ease;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(80vh - 70px);
        visibility: visible;
    }

    #menu a {
        display: flex;
        flex-direction: row;
        margin-left: 0;
    }

    #menu a i {
        margin-right: 5px;
    }

    #btn-mobile {
        display: flex;
        border: none;
        background: none;
        cursor: pointer;
    }

    #hamburger {
        width: 25px;
        border-top: 2px solid;
        color: white;
        transition: 0.6s;
    }

    #hamburger::after,
    #hamburger::before {
        content: "";
        display: block;
        width: 25px;
        border-top: 2px solid;
        margin-top: 5px;
        background: currentColor;
        transition: 0.6s;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
        transform: rotate(90deg);
    }

    #nav.active #hamburger::before {
        transform: rotate(30deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-35deg);
    }

    .logo {
        margin-right: 230px;
    }
}
